body{
    margin:0;
    background-image: url(Instrumentos\ musicais.7.png);
    background-size: cover;

}

nav{
    width: 100%;
    height: 50px;
    background-color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    justify-content: center;

}


nav div{
    width: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate();
}

nav div span{
    width: 100%;
    height: 8px;
    background-color: rgb(87, 9, 3);
    border-radius: 10px;
} 
section{
    width: 100%;
    height: 90vh;
    background-color: rgb(10, 2, 85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    transform: translateX(-105%);
    transition: 0.4s;
}
section a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 16pt;
    color: rgb(51, 255, 0);
    font-weight: bolder;
}
.aparecerMenu{
    transform: translateX(0);
    background-color: brown;

}
.sumirIgualTiro{
    transform: translateX(-75vw);
    transition: 0.2s;
}
.virarX1{
    transform: rotate(-45deg);
    transform-origin: right center;
    background-color: rgb(3, 247, 3);

}
.virarX2{
    transform: rotateZ(45deg);
    transform-origin: right center;
    position: relative;
    top:8px;
    background-color: rgb(3, 247, 3);
    
}

#ancor{
    display: flex;
    flex-direction: row;
    width: 700px;
    color: white;
    display: none;
}

a{
    color: aliceblue;
    text-decoration: none;
}

@media(min-width:730px){
    nav div{
        display: none;
    }
    #ancor{
        display: flex;
    }
}
@media(min-width:630px){
    section{
        display: flex


    }
}
